{% extends 'admin/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<h1>Liste des utilisateurs</h1>
<table class="mt-5 table">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for utilisateur in utilisateurs %}    
        <tr>
          <td>{{ utilisateur.nom }}</td>
          <td>{{ utilisateur.prenom }}</td>
          <td>{{ utilisateur.email }}</td>
          <td>
            <a href="btn btn-sm btn-primary">Modifier</a>
            <a href="btn btn-sm btn-danger">Supprimer</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
